html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}


@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}


.nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 10%;
}

 .container img {
  width: 15%;
  height: 15%;
  object-fit: cover;
}

.container {
  width: 30%;
  float: left;
}




.hero {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  width: 100%;
  height: 70vh;
  background-color: #f8f2d7;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.text-container {
  float: left;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
}

.image-container {
  width: 50%;
  float: rigth;
}

.image-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.clg-name {
  color: #4162e6;
  font-size: 28px;
  font-weight: bold;

}

.clg-text {
  font-style: italic;
  font-size: 18px;
}

.clg-button {
  background-color: #4162e6;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 5%;
}

.right {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  float: right;
}

.right li {
  .right li {
    display: inline-block;
    margin-right: 30px;
    background-color: #4162e6;
    color: white;
    border: none;
    padding: 12px 12px;
    border-radius: 5px;
    font-size: 18px;
    width: auto;
  }
  margin-right: 30px;
  background-color: #4162e6;
  color: white;
  border: none;
  padding: 12px 12px;
  border-radius: 5px;
  font-size: 18px;
  width: fit-content;
}

.ss-title {
  height: 55px;
  background-color: black;
  color: white;
  font-size: 20px;
  padding-top: 1px;
  text-align: center;
  font-weight: bold;
}

slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.slide-imgs{
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}