html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}


@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.container img {
  height: 50%;
  width: 50%;
  object-fit: cover;
}

.container {
  width: 30%;
  float: left;
}

.nav-items {
  width: 65%;
  float: right;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

}

.hero {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  width: 100%;
  height: 70vh;
  background-color: #f8f2d7;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.text-container {
  float: left;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
}

.image-container {
  width: 50%;
  float: rigth;
}

.image-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.clg-name {
  color: #4162e6;
  font-size: 23px;
  font-weight: bold;

}

.clg-text {
  font-style: italic;
}

.clg-button {
  background-color: #4162e6;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.right {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  float: right;
}

.right li {
  margin-right: 30px;
  background-color: #4162e6;
  color: white;
  border: none;
  padding: 12px 12px;
  border-radius: 5px;
  font-size: 12px;
}

.ss-title {
  height: 55px;
  background-color: black;
  color: white;
  font-size: 20px;
  padding-top: 1px;
  text-align: center;
  font-weight: bold;
}